@use 'variaveis';


.symbol{
    padding: 5.6vw;
    min-height: 50vh;

    h2{
        text-transform: uppercase;
        margin-bottom: 60px;
        text-align: center;
        color: variaveis.$buttonColorHover;
        @media (max-width: 768px){
            margin-bottom: 30px;
        }
    }
    p{
        text-align: justify;
        text-transform: uppercase;
        margin-bottom: 80px;
        padding: 0 60px;
        @media (max-width: 768px){
            padding:0px;
        }
    }

    &__carousel{


        p{
            text-align: center;
            padding: 0;
            margin-bottom: 0;
            margin-top: 8px;
            margin-right: 113px;


            @media (max-width: 768px){
                margin: 0 auto;
            }

            @media screen and (min-width: 768px) and (max-width: 1022px){
                margin-right: 0;
            }

    
        }
        
    }
}

    
.slick-slide{
    width: 100%;
    opacity: 2%;
    transition: 1s ease;
    img{
        @media (max-width: 768px){
            width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 1022px){
            width: 100%;
        }
    }

    p{
        transition: 1s ease;
    }
    


    &:hover{
        transition: 1s ease;
        opacity: 100%;
        @media (max-width: 768px){
            transition: .01s ease;
        }
        p{
            font-size: 18px;
            transition: 1s ease;
        }
    }
}

.slick-center{
    opacity: 100%;
    p{
        font-size: 18px;
    }

}